Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unnecessary async stuff from authorize function
  src/renderer/models/external-providers/google/google.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added unregistering main listener
  src/renderer/models/external-providers/google/google.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Refactored calendar synchronization modals flow
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/rest/calendar/authorization-failed.component.tsx
  src/renderer/components/rest/calendar/calendar.stories.tsx
  src/renderer/components/rest/calendar/google-auth-failed.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Renamed calendar events seed
  src/renderer/models/calendar/calendar.test.ts
  src/renderer/modules/calendar/calendar.component.tsx
  src/seeds/calendar.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fixed key in CallDetails messages
  src/renderer/components/rest/calls/call-details.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update .gitignore
  .gitignore
Due: none

Made development envs as default
  .gitignore
  webpack/parts/plugins.js
Due: prettier --write

Refactored mocked calls to unknown calls in app
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/models/calls/calls.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-455 Hide tethering/music. Add recovery mode under files manager
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/constants/menu-elements.ts
  src/renderer/constants/views.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-455 Updated translation according to task
  src/renderer/locales/default/en-US.json
Due: prettier --write

PDA-455 Update menu snap
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
Due: none

PDA-455 Hide part of settings UI regarding tethering. Update snap
  src/renderer/components/rest/settings/settings-ui.component.tsx
  src/renderer/modules/settings/__snapshots__/settings.test.tsx.snap
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-455 Update translation
  src/renderer/locales/default/en-US.json
Due: prettier --write

Added new option to settings
  src/backend/adapters/app-settings/app-settings-fake.adapter.ts
  src/backend/requests/app-settings/get-app-settings.request.test.ts
  src/backend/requests/app-settings/reset-app-settings.request.test.ts
  src/main/store/settings.interface.ts
  src/main/store/settings.schema.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-455 Skip tests that are not available after changes in menu
  src/tests/music.e2e.ts
  src/tests/tethering.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added redirection to onboarding
  src/renderer/wrappers/base-app.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added autostart integration
  src/renderer/components/rest/onboarding/onboarding-welcome.component.tsx
  src/renderer/components/rest/onboarding/onboarding.interface.tsx
  src/renderer/components/rest/onboarding/onboarding.stories.tsx
  src/renderer/components/rest/onboarding/onboarding.test.tsx
  src/renderer/modules/onboarding/welcome.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added function to update flag in store
  src/renderer/modules/onboarding/connecting.component.tsx
  src/renderer/routes/base-routes.tsx
  src/renderer/wrappers/layout-blank-wrapper.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Translations update (from phrase.com)
  src/renderer/locales/default/en-US.json
  src/translations.config.json
Due: prettier --write

Updated tests
  src/renderer/components/rest/onboarding/onboarding.test.tsx
  src/renderer/models/settings/settings.test.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Coverage downgrade
  jest.coverage.json
Due: prettier --write

Update coverage according to values in mike's pr
  jest.coverage.json
Due: prettier --write

PDA-455 Hide tabs in settings
  src/renderer/components/rest/header/tabs.component.tsx
  src/renderer/constants/tab-elements.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

first phone connection function name refactor
  src/renderer/modules/onboarding/connecting.component.tsx
  src/renderer/routes/base-routes.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-455 Change hideOnProd to hidden
  src/renderer/components/rest/header/tabs.component.tsx
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/constants/menu-elements.ts
  src/renderer/constants/tab-elements.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-516 Add prop to force transparent border
  src/renderer/components/core/input-text/input-text.elements.tsx
  src/renderer/components/core/input-text/input-text.interface.ts
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-516 Rename prop. Test it
  src/renderer/components/core/input-select/input-select.test.tsx
  src/renderer/components/core/input-text/input-text.elements.tsx
  src/renderer/components/core/input-text/input-text.interface.ts
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-446 Add dev mode + tests
  src/renderer/modules/calendar/calendar-test-ids.enum.ts
  src/renderer/modules/calendar/calendar.component.tsx
  src/renderer/modules/calendar/calendar.styled.tsx
  src/renderer/modules/calendar/calendar.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed input search component and improved functionality of input select component
  src/renderer/components/core/input-search/input-search-test-ids.enum.ts
  src/renderer/components/core/input-search/input-search.component.tsx
  src/renderer/components/core/input-search/input-search.stories.tsx
  src/renderer/components/core/input-search/input-search.test.tsx
  src/renderer/components/core/input-select/input-select.component.tsx
  src/renderer/components/core/input-select/input-select.test.tsx
  src/renderer/components/core/list/list.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Updated calendar panel
  src/renderer/components/rest/calendar/calendar-input-search.component.tsx
  src/renderer/components/rest/calendar/calendar-panel.component.tsx
  src/renderer/components/rest/calendar/calendar-panel.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added highlighting and scrolling to selected event
  src/renderer/modules/calendar/calendar.component.tsx
  src/renderer/modules/calendar/calendar.styled.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Calendar stories cleanup
  src/renderer/components/rest/calendar/calendar.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-446 Remove redundant change in interface
  src/renderer/modules/calendar/calendar.interface.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added possibility to search events with names shorter than 3 characters
  src/renderer/components/rest/calendar/calendar-input-search.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Phrase fix
  scripts/updatePhraseTranslations.js
  src/common/configs/phrase.js
  src/renderer/locales/default/en-US.json
  src/translations.config.json
Due: prettier --write

Add test regarding filtering in meditation view
  src/renderer/components/rest/meditation/stats/meditation-stats.enum.ts
  src/renderer/modules/meditation/meditation.component.tsx
  src/tests/meditation.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

WIP
  src/tests/meditation.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Selected event index fix
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-446 Extract calendar UI, update test
  src/renderer/components/rest/calendar/events-list.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/calendar/calendar-ui.component.tsx
  src/renderer/modules/calendar/calendar.component.tsx
  src/renderer/modules/calendar/calendar.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-446 Update story/test
  src/renderer/components/rest/calendar/calendar.stories.tsx
  src/renderer/modules/calendar/calendar.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint:js -- --fix: any of: *.{ts,tsx}
  npm run lint:css: any of: *.{ts,tsx}
