Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Added troubleshooting section to README
  README.md
Due: prettier --write

Added exemplary usage and testing script
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/utils/serialport.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Fixes for connection testing script
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/utils/serialport.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Added serialport rebuilding command to 'build' and 'develop' commands
  package.json
Due: prettier --write

PDA-44 Add close svg, add theme provider to modal because there was none. Add close function to modal on icon
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/core/modal/modal.service.tsx
  src/renderer/components/core/modal/modal.styled.elements.tsx
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/svg/close.svg
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Start modal
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.service.tsx
  src/renderer/components/core/modal/modal.styled.elements.tsx
  src/renderer/modules/overview/overview.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Working updates v1
  package-lock.json
  package.json
Due: prettier --write

Working updates v3
  package.json
  src/extend-expect.d.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Working updates v3
  package-lock.json
Due: prettier --write

PDA-44 Add heading and size props with snapshot test
  src/renderer/components/core/modal/__snapshots__/modal.test.tsx.snap
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.test.tsx
  src/renderer/modules/overview/overview.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Working updates v4
  package.json
Due: prettier --write

Working updates v5
  package.json
Due: prettier --write

Working updates v6
  package.json
Due: prettier --write

PDA-44 Add story
  src/renderer/components/core/modal/modal.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Clean up overview
  src/renderer/modules/overview/overview.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Add prop to control rendering close button with tests
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.stories.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Updated
  package-lock.json
  package.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Tests update
  src/renderer/components/core/button/tests/__snapshots__/button.test.tsx.snap
  src/renderer/components/core/dropdown/__snapshots__/dropdown.test.tsx.snap
  src/renderer/components/core/icon/__snapshots__/icon.test.tsx.snap
  src/renderer/components/core/input-checkbox/__snapshots__/input-checkbox.test.tsx.snap
  src/renderer/components/core/input-radio-group/__snapshots__/input-radio-group.test.tsx.snap
  src/renderer/components/core/loader/__snapshots__/loader.test.tsx.snap
  src/renderer/components/core/selection-manager/__snapshots__/selection-manager.test.tsx.snap
  src/renderer/components/rest/header/__snapshots__/header.test.tsx.snap
  src/renderer/components/rest/header/__snapshots__/tab.test.tsx.snap
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
  src/renderer/modules/filesManager/components/__snapshots__/files-summary-item.test.tsx.snap
  src/renderer/modules/filesManager/components/__snapshots__/files-summary.test.tsx.snap
Due: none

Fix the images loading in the rednerere config
  webpack.base.config.js
  webpack.renderer.config.js
Due: prettier --write

PDA-119 Use grid-template-areas
  src/renderer/modules/overview/overview.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-119 Use grid area
  src/renderer/modules/overview/overview.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Use ReactElement as a type for heading prop
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Add 4th width variation for modal
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Remove snapshot test
  src/renderer/components/core/modal/__snapshots__/modal.test.tsx.snap
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Change prop name to closeable
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.stories.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Remove async syntax from closing modal function
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Add subtitle prop with example in SB
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.stories.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Add static modal to SB
  src/renderer/components/core/modal/modal.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Remove border sizing since it does not change width
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Add onClose prop
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Make title prop a string. Add function that returns correct styles
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.stories.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Change subtitle prop to string. Add styles and test
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.stories.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Create config
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.helpers.tsx
  src/renderer/components/core/modal/modal.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Add function to control header order
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.helpers.tsx
  src/renderer/components/core/modal/modal.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Button configuration for modal
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.helpers.tsx
  src/renderer/components/core/modal/modal.stories.tsx
  src/renderer/components/core/modal/modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Justify is not needed in wrapper anymore
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-44 Keep callback convention
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint:tslint -- --fix && npm run lint:css: any of: *.{ts,tsx}
