Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:tslint -- --fix && npm run lint:css"],
}

Refactored to async & changed birthtime to time from filename.
  src/backend/adapters/pure-phone-backups/pure-phone-backups-adapter.class.ts
  src/backend/adapters/pure-phone-backups/pure-phone-backups.adapter.ts
  src/backend/requests/backups/get-backups-info.request.ts
  src/common/interfaces/backup-item-info.interface.ts
  src/renderer/components/rest/overview/backup/backup.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Refactored getting last backup
  src/renderer/models/basic-info/basic-info.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Used defineMessages in backup
  src/renderer/components/rest/overview/backup/backup.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Reverted fake adapter data
  src/backend/adapters/pure-phone-backups/pure-phone-backups-fake.adapter.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Fixed tests
  src/backend/requests/backups/get-backups-info.request.test.ts
  src/renderer/models/basic-info/basic-info.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Backup story fix
  src/renderer/components/rest/overview/backup/backup.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Overview story fix
  src/renderer/modules/overview/overview.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-327 Update based on array
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
  src/renderer/utils/hooks/use-sort/use-sort.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Storybook
  src/__mocks__/meditation-stats.mock.ts
  src/renderer/components/rest/meditation-stats/meditation-stats.stories.tsx
  src/renderer/components/rest/meditation/nav/mediation-nav.stories.tsx
  src/renderer/components/rest/meditation/nav/meditation-nav.component.tsx
  src/renderer/components/rest/meditation/nav/meditation-nav.helpers.test.ts
  src/renderer/components/rest/meditation/nav/meditation-nav.helpers.ts
  src/renderer/components/rest/meditation/nav/meditation-nav.styled.tsx
  src/renderer/components/rest/meditation/stats/meditation-stats.component.tsx
  src/renderer/components/rest/meditation/stats/meditation-stats.enum.ts
  src/renderer/components/rest/meditation/stats/meditation-stats.helpers.ts
  src/renderer/components/rest/meditation/stats/meditation-stats.stories.tsx
  src/renderer/components/rest/meditation/stats/meditation-stats.styled.tsx
  src/renderer/components/rest/meditation/stats/meditation-stats.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-317 Update contentful
  package-lock.json
  package.json
Due: prettier --write

Fixed test
  src/renderer/components/rest/meditation/nav/meditation-nav.helpers.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-317 Update electron context menu
  package-lock.json
  package.json
Due: prettier --write

PDA-317 Update lodash
  package-lock.json
  package.json
Due: prettier --write

PDA-317 Update react hook form
  package-lock.json
  package.json
Due: prettier --write

PDA-317 Update babel-plugin-react-intl
  package-lock.json
  package.json
Due: prettier --write

PDA-317 Update electron-devtools-installer
  package-lock.json
  package.json
Due: prettier --write

PDA-317 fork-ts-checker-webpack-plugin
  package-lock.json
  package.json
Due: prettier --write

PDA-317 Update terser-webpack-plugin
  package-lock.json
  package.json
Due: prettier --write

PDA-317 Update ts-loader
  package-lock.json
  package.json
Due: prettier --write

PDA-317 @testing-library/react-hooks
  package-lock.json
  package.json
Due: prettier --write

Added localization settings
  src/main/default-app-settings.ts
  src/renderer/components/rest/overview/backup/backup.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Fix version of spectron
  package-lock.json
  package.json
Due: prettier --write

Moved app settings events to adapters
  src/backend/adapters/adapters.interface.ts
  src/backend/adapters/app-settings/app-settings-adapter.class.ts
  src/backend/adapters/app-settings/app-settings-fake.adapter.ts
  src/backend/adapters/app-settings/app-settings.adapter.ts
  src/backend/bootstrap.ts
  src/backend/requests/app-settings/get-app-settings.request.test.ts
  src/backend/requests/app-settings/get-app-settings.request.ts
  src/backend/requests/app-settings/reset-app-settings.request.test.ts
  src/backend/requests/app-settings/reset-app-settings.request.ts
  src/backend/requests/app-settings/update-app-settings-location.request.test.ts
  src/backend/requests/app-settings/update-app-settings-location.request.ts
  src/backend/requests/app-settings/update-app-settings.request.test.ts
  src/backend/requests/app-settings/update-app-settings.request.ts
  src/common/requests/ipc-request.enum.ts
  src/main/default-app-settings.ts
  src/main/functions/register-settings-listeners.ts
  src/main/main.ts
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/overview/backup/backup.test.tsx
  src/renderer/modules/settings/tabs/backup/backup.component.tsx
  src/renderer/requests/app-settings.request.ts
  src/tests/get-fake-adapters.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Help opens in new window, only locally for now
  src/common/enums/open-new-window.enum.ts
  src/main/main.ts
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/routes/base-routes.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Help opens in built app. Add func that creates windowOptions. Add windowOptions specific for app and help
  src/main/config.ts
  src/main/main.ts
  src/renderer/components/rest/menu/menu-group.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Update snapshot
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
Due: none

New notes - refactored useSort hook; - reduced state complexity inside notes component; - moved removing notes from mock to redux;
  src/__mocks__/notes.ts
  src/renderer/models/notes/notes.ts
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
  src/renderer/modules/tools/tabs/notes.component.tsx
  src/renderer/utils/hooks/use-sort/use-sort.helpers.ts
  src/renderer/utils/hooks/use-sort/use-sort.test.tsx
  src/renderer/utils/hooks/use-sort/use-sort.ts
  src/renderer/utils/hooks/use-sort/use-sort.types.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 White title bar. Makes harder to move window around
  src/main/main.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 WIP starting UI - title
  src/renderer/components/core/text/text.component.tsx
  src/renderer/locales/main/en-US.json
  src/renderer/modules/help/help.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Fix command to run tests
  package.json
Due: prettier --write

Remove redundat command
  package.json
Due: prettier --write

Added tests and seeds
  src/__mocks__/notes.ts
  src/renderer/components/core/table/table.component.tsx
  src/renderer/models/notes/notes.test.ts
  src/renderer/models/notes/notes.ts
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
  src/renderer/modules/tools/tabs/notes.enum.ts
  src/renderer/modules/tools/tabs/notes.styled.tsx
  src/renderer/modules/tools/tabs/notes.test.tsx
  src/renderer/store/index.ts
  src/seeds/notes.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Fixed tests and stories
  src/__mocks__/notes.ts
  src/renderer/components/core/table/table.component.tsx
  src/renderer/modules/tools/tabs/notes.stories.tsx
  src/renderer/modules/tools/tabs/notes.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Refactored settings
  jest.coverage.json
  src/backend/adapters/app-settings/app-settings-adapter.class.ts
  src/backend/adapters/app-settings/app-settings-fake.adapter.ts
  src/backend/adapters/app-settings/app-settings.adapter.ts
  src/renderer/app.tsx
  src/renderer/components/rest/overview/backup/backup.component.tsx
  src/renderer/components/rest/overview/backup/backup.test.tsx
  src/renderer/components/rest/settings/option.enum.ts
  src/renderer/components/rest/settings/settings-ui.component.tsx
  src/renderer/models/backup-settings/backup-settings.ts
  src/renderer/models/models.ts
  src/renderer/models/phone/phone.ts
  src/renderer/models/settings/settings.test.ts
  src/renderer/models/settings/settings.ts
  src/renderer/modules/messages/tabs/templates-ui.component.tsx
  src/renderer/modules/overview/overview-ui.component.tsx
  src/renderer/modules/overview/overview.component.tsx
  src/renderer/modules/overview/overview.container.tsx
  src/renderer/modules/settings/settings.component.tsx
  src/renderer/modules/settings/tabs/backup/backup-container.component.tsx
  src/renderer/modules/settings/tabs/backup/backup-ui.component.tsx
  src/renderer/modules/settings/tabs/backup/backup.component.tsx
  src/renderer/requests/app-settings.request.ts
  src/renderer/requests/update-settings.request.ts
  src/renderer/utils/hooks/use-location-picker.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Add search input to panel with some additional styles
  src/renderer/modules/help/help.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Add routing and answer component
  src/__mocks__/help-data.ts
  src/renderer/components/rest/help/answer.component.tsx
  src/renderer/modules/help/help.component.tsx
  src/renderer/routes/base-routes.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 More Q&A, fix bg colors
  src/__mocks__/help-data.ts
  src/renderer/modules/help/help.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Add icon + additional styles
  src/renderer/modules/help/help.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Uncomment dev mode. Additional styles for link
  src/renderer/modules/help/help.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-332 Fix help test
  src/renderer/modules/help/help.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css
