Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:js -- --fix", "npm run lint:css"],
}

Implemented connect event with pure
  src/backend/adapters/pure-phone/pure-phone-adapter.class.ts
  src/backend/adapters/pure-phone/pure-phone-fake.adapter.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/requests/connect-device/connect-device.request.test.ts
  src/backend/requests/connect-device/connect-device.request.ts
  src/common/requests/ipc-request.enum.ts
  src/main/main.ts
  src/renderer/components/rest/menu/menu.component.tsx
  src/renderer/components/rest/menu/menu.container.tsx
  src/renderer/models/basic-info/basic-info.ts
  src/renderer/requests/connect-device.request.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Handle disconnect and connect event from pure
  src/backend/bootstrap.ts
  src/backend/emiiters/on-data.emitter.ts
  src/backend/emiiters/on-disconnect-device.emitter.ts
  src/common/emitters/ipc-emitter.enum.ts
  src/renderer/emitters/on-data.emitter.ts
  src/renderer/emitters/on-disconnect-device.emitter.ts
  src/renderer/wrappers/root-wrapper.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Made the props function as required
  src/renderer/modules/tools/tabs/notes.component.tsx
  src/renderer/modules/tools/tabs/notes.stories.tsx
  src/renderer/modules/tools/tabs/notes.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unnecessary binding resetRows to onClose
  src/renderer/modules/messages/messages.component.tsx
  src/renderer/modules/tools/tabs/notes.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Rename *ToSearchParams to *SearchParams
  src/renderer/models/messages/messages.ts
  src/renderer/models/messages/utils/caller-utils.ts.tsx
  src/renderer/modules/messages/find-topic-by-search-params.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Rename isTopicThreadOpening to isTopicThreadOpened
  src/renderer/components/rest/calls/call-details.component.tsx
  src/renderer/components/rest/calls/calls-table.component.tsx
  src/renderer/components/rest/phone/contact-details.component.tsx
  src/renderer/models/messages/messages.ts
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.container.tsx
  src/renderer/modules/phone/phone.stories.tsx
  src/renderer/modules/phone/tabs/calls-container.component.tsx
  src/renderer/modules/phone/tabs/calls.component.tsx
  src/renderer/modules/phone/tabs/calls.stories.tsx
  src/renderer/modules/phone/tabs/calls.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update pure/index.js
  pure/index.js
Due: prettier --write

PDA-339 Create folder for contact-support
  src/renderer/modules/onboarding/troubleshooting.component.tsx
  src/renderer/modules/recovery-mode/recovery-mode.component.tsx
  src/renderer/utils/contact-support/contact-support.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update src/renderer/components/rest/calendar/calendar-panel.test.tsx
  src/renderer/components/rest/calendar/calendar-panel.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-339 Remove redundant export
  src/renderer/modules/recovery-mode/recovery-mode-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-339 Remove redundant function
  src/renderer/modules/recovery-mode/recovery-mode-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

made more consistent type by providing any to whole items
  src/renderer/components/core/input-search/input-search.component.tsx
  src/renderer/components/core/input-select/input-select.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unneeded test
  src/renderer/components/rest/calendar/calendar-panel.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-339 Remove data-testids. Click buttons based on their text
  src/renderer/modules/recovery-mode/recovery-mode-test-ids.enum.ts
  src/renderer/modules/recovery-mode/recovery-mode-ui.component.tsx
  src/renderer/modules/recovery-mode/recovery-mode-ui.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-339 Update to prev version of interface
  src/renderer/modules/recovery-mode/recovery-mode-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update src/renderer/modules/settings/settings.component.tsx
  src/renderer/modules/settings/settings.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-427 Update crypto types. Fix ts error
  package-lock.json
  package.json
  src/renderer/modules/onboarding/troubleshooting.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update src/main/functions/register-auto-launch-listener.ts
  src/main/functions/register-auto-launch-listener.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Merge to one message
  src/renderer/locales/default/en-US.json
  src/renderer/modules/tools/tabs/notes.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed isn't worked createSelector for returned fn
  src/renderer/models/messages/messages.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unneeded conditional
  src/renderer/components/core/input-search/input-search.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Replace the auto assigner with action
  .github/workflows/assign-reviewers.yml
Due: none

Add all reviewers
  .github/auto_assign.yml
Due: none

Delete CODEOWNERS
  .github/CODEOWNERS
Due: none

PDA-425 Apply suggestion regarding initial state of auto launch
  src/main/functions/register-auto-launch-listener.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Refactored tests for input search
  src/renderer/components/core/input-search/input-search.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Rename ItemList to *List
  src/renderer/components/core/input-search/input-search.component.tsx
  src/renderer/components/core/input-select/input-select.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

to destructured Fragment
  src/renderer/components/core/input-select/input-select.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

focused to focus
  src/renderer/components/core/input-search/input-search.component.tsx
  src/renderer/components/core/input-select/input-select.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-427 Update contentful, electron store and electron updater
  package-lock.json
  package.json
Due: prettier --write

converted base64 to png
  src/renderer/components/core/input-text/input-text.elements.tsx
  src/renderer/images/close.png
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-427 Update faker, moment, node-fetch
  package-lock.json
  package.json
Due: prettier --write

Created test & storybook
  src/renderer/components/core/searchable-text/searchable-text-test-ids.enum.ts
  src/renderer/components/core/searchable-text/searchable-text.component.tsx
  src/renderer/components/core/searchable-text/searchable-text.stories.tsx
  src/renderer/components/core/searchable-text/searchable-text.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-427 Update react packages
  package-lock.json
  package.json
Due: prettier --write

PDA-427 Update eslint config
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

Revert "PDA-427 Update react packages"
  package-lock.json
  package.json
Due: prettier --write

PDA-427 Update only react related stuff
  package-lock.json
  package.json
Due: prettier --write

PDA-427 Update jest
  package-lock.json
  package.json
Due: prettier --write

PDA-427 Update SC
  package-lock.json
  package.json
Due: prettier --write
