Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

Updated the bash command in Troubleshooting section
  README.md
Due: prettier --write

First triage
  src/renderer/locales/default/en-US.json
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Increased coverage bump threshold
  jest.processor.js
Due: prettier --write

Removed unused utils
  src/renderer/utils/serialport.ts
  src/renderer/utils/stringToHash.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Commands updated in Packaging
  README.md
Due: prettier --write

Updated translations
  src/renderer/locales/default/en-US.json
Due: prettier --write

Added section about Environmental Variables
  README.md
Due: prettier --write

PDA-404 Update logic to selection manager buttons rendering
  src/renderer/components/core/selection-manager/selection-manager.interface.tsx
  src/renderer/modules/messages/messages-panel.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Change onClose handler to closeSpeedDialModal for SpeedDialModal
  src/renderer/modules/phone/phone.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Updated the overwrite command
  package.json
Due: prettier --write

Updated the develop script
  README.md
  package.json
Due: prettier --write

Renamed functions for better readability
  src/renderer/models/notes/make-new-note.ts
  src/renderer/models/notes/notes.ts
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
  src/renderer/modules/tools/tabs/notes.component.tsx
  src/renderer/modules/tools/tabs/notes.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fixed adding new note
  src/renderer/components/core/text-editor/text-editor.hook.ts
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added script for prettyfying jest.converage file after running tests with coverage report
  package.json
Due: prettier --write

Code cleanup, translations improvement and fix for rejecting changes on non-new note
  src/renderer/locales/default/en-US.json
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed passed handler for onClose in SpeedDialModal
  src/renderer/modules/phone/phone.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-365 Remove space in enum
  src/renderer/modules/tethering/screens/tethering.enum.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Change prop name
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages-panel.test.tsx
  src/renderer/modules/messages/messages.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-402 Fix z-index in button toggler tooltip
  src/renderer/components/core/button-toggler/button-toggler.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added auto-sorting for translations before commit
  package.json
Due: prettier --write

Added disabled options prop in InputSelect
  src/renderer/components/core/input-select/input-select.component.tsx
  src/renderer/components/core/input-select/input-select.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Extends components by speedDialChosenList prop
  src/renderer/components/rest/phone/contact-edit.component.tsx
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.container.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Created generate function to get speedDialChosenList
  src/renderer/models/phone/phone.helpers.ts
  src/renderer/modules/phone/phone.container.tsx
  src/renderer/modules/phone/phone.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-402 Add e2e for sim toggle buttons
  src/renderer/components/core/button-toggler/button-toggler-test-ids.enum.ts
  src/renderer/components/rest/overview/network/network.component.tsx
  src/tests/overview.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-402 Update snap
  src/renderer/components/core/button-toggler/__snapshots__/button-toggler.test.tsx.snap
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
Due: none

PDA-402 Rename var in e2e
  src/tests/overview.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-402 Not need - in enums string
  src/renderer/components/core/button-toggler/button-toggler-test-ids.enum.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-367 Connect tethering to store
  src/renderer/modules/tethering/tethering-ui.component.tsx
  src/renderer/modules/tethering/tethering.component.tsx
  src/renderer/modules/tethering/tetheting-ui.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added test to input-select.test.tsx
  src/renderer/components/core/input-select/input-select.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Changed test logic for not disabled item in input-select.test.tsx
  src/renderer/components/core/input-select/input-select.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update src/renderer/models/phone/phone.helpers.ts
  src/renderer/models/phone/phone.helpers.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Refactored to includes method to check disabled property
  src/renderer/components/core/input-select/input-select.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-367 Correct logic and filenames
  src/renderer/modules/tethering/screens/pure-disconnected.component.tsx
  src/renderer/modules/tethering/screens/pure-disconnected.styled.tsx
  src/renderer/modules/tethering/screens/tethering-disabled.component.tsx
  src/renderer/modules/tethering/screens/tethering-enabled.component.tsx
  src/renderer/modules/tethering/tethering-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-367 Add missing story
  src/renderer/modules/tethering/tethering.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Moved generators to selector in phone.ts
  src/renderer/components/rest/phone/speed-dial-modal.container.tsx
  src/renderer/models/phone/phone.helpers.ts
  src/renderer/models/phone/phone.test.ts
  src/renderer/models/phone/phone.ts
  src/renderer/modules/phone/phone.container.tsx
  src/renderer/modules/phone/phone.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fixed bug when deleting new message wasn't unlocking new message button
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added a separate status for newly created texts
  src/renderer/components/core/text-editor/text-editor.component.tsx
  src/renderer/components/core/text-editor/text-editor.hook.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Moved styling from translations to component
  src/renderer/locales/default/en-US.json
  src/renderer/modules/tools/tabs/notes-ui.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-367 Initial disabled UI
  src/renderer/components/rest/settings/settings-toggler.component.tsx
  src/renderer/images/tethering/modem-desktop@2x.png
  src/renderer/locales/default/en-US.json
  src/renderer/modules/tethering/screens/pure-disconnected.component.tsx
  src/renderer/modules/tethering/screens/tethering-disabled.component.tsx
  src/renderer/modules/tethering/tethering-messages.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Changed option type from any to unknown
  src/renderer/components/core/input-select/input-select.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint:js -- --fix: any of: *.{ts,tsx}
  npm run lint:css: any of: *.{ts,tsx}
