Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:tslint -- --fix && npm run lint:css"],
}

PDA-174 Flatten array instead of iterating over
  src/renderer/models/messages/utils/index.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Extend fake data to force scroll. Add ESNext to be included in compilation. Use Array.flat() instead of lodashs flatten
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/models/messages/utils/index.ts
  tsconfig.json
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Mock object for message-list test
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/components/rest/messages/message-list.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Update message-details test to use mock
  src/renderer/components/rest/messages/message-details.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Update messages test to use mock
  src/renderer/modules/messages/messages.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Extract mockedData to __mocks__. Update tests
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/components/rest/messages/message-details.test.tsx
  src/renderer/components/rest/messages/message-list.test.tsx
  src/renderer/modules/messages/messages.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Change name of index file
  src/renderer/models/messages/messages.ts
  src/renderer/models/messages/utils/topics-utils.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Use some only
  src/renderer/models/messages/utils/topics-utils.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Add tests for searchTopics function
  src/renderer/models/messages/utils/topics-utils.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Custom bump function
  jest.config.js
  jest.coverage.js
  jest.coverage.json
  jest.processor.js
Due: prettier --write

Removed unnecessary package
  package-lock.json
  package.json
Due: prettier --write

PDA-174 Correct tests
  src/renderer/models/messages/utils/topics-utils.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Release command fix
  package-lock.json
  package.json
Due: prettier --write

PDA-225 WIP initial modal
  src/renderer/modules/messages/messages.stories.tsx
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Scripts improvements
  package.json
Due: prettier --write

PDA-174 Create mocked list with single random caller. Adapt tests
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/models/messages/utils/topics-utils.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-174 Test remaining branch for higher test coverage
  src/renderer/models/messages/utils/topics-utils.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Update auto_assign.yml
  .github/auto_assign.yml
Due: none

PDA-174 Remove unnecessary variables for strings
  src/renderer/models/messages/utils/topics-utils.test.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Functions naming refactor
  src/renderer/components/core/contact-modal/contact-modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Styles fix
  src/renderer/components/core/contact-modal/contact-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Update story. Add rows
  src/renderer/modules/messages/messages.stories.tsx
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Update styles for SB. Remove unncessary elememnts. Add intl
  src/renderer/locales/main/en-US.json
  src/renderer/modules/messages/messages.stories.tsx
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 MModal had at all times gap even when subtitle wasn't provided
  src/renderer/components/core/modal/modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Add test
  src/renderer/modules/messages/template-modal.component.tsx
  src/renderer/modules/messages/template-modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Fix for jest coverage function
  .github/workflows/validate.yml
  jest.config.js
  jest.coverage.json
  jest.processor.js
  package.json
Due: prettier --write

Update
  jest.coverage.json
Due: prettier --write

PDA-225 Additional test
  src/renderer/modules/messages/__mocks__/template-modal-data.ts
  src/renderer/modules/messages/template-modal.component.tsx
  src/renderer/modules/messages/template-modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Update storybook like it is done with other modals (Add view as bg)
  src/renderer/modules/messages/messages.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Use mocks. Add text-overflow ellipsis
  src/renderer/modules/messages/__mocks__/template-modal-data.ts
  src/renderer/modules/messages/messages.stories.tsx
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-255 Remove unnecessary onClick
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Use theme-getter for bg color
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Use ids in selecting template
  src/renderer/modules/messages/__mocks__/template-modal-data.ts
  src/renderer/modules/messages/template-modal.component.tsx
  src/renderer/modules/messages/template-modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Fix errors with UI
  src/renderer/components/core/modal/modal.helpers.tsx
  src/renderer/modules/messages/__mocks__/template-modal-data.ts
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Update package.json
  package.json
Due: prettier --write

PDA-225 Add scroll to template list + example
  src/renderer/modules/messages/__mocks__/template-modal-data.ts
  src/renderer/modules/messages/messages.stories.tsx
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Test without data-testid
  src/renderer/modules/messages/template-modal.component.tsx
  src/renderer/modules/messages/template-modal.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Scroll is displayed only when there are more template rows than modal can contain
  src/renderer/modules/messages/__mocks__/template-modal-data.ts
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-225 Remove comment
  src/renderer/modules/messages/template-modal.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css
