Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:js -- --fix", "npm run lint:css"],
}

Change response endpoint type to Endpoint enum
  pure/src/phone-port.types.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Develop IPureNode (interface)
  pure/src/index.ts
  src/backend/bootstrap.ts
  src/backend/pure-node-service.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed test with the mocked request
  pure/src/phone-port.test.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Correct test spelling
  pure/src/phone-port.test.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-471] add contacts sync modal to stories
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/phone/contact-import-modal.component.tsx
  src/renderer/components/rest/phone/contact-import.stories.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/svg/contact-google.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-525 Use find
  src/renderer/models/external-providers/google/google.helpers.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-525 Version with less code
  src/renderer/models/external-providers/google/google.helpers.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-515] update app icon and name
  package.json
Due: prettier --write

Dropdown position calculation improvements
  src/renderer/components/core/table/table.component.tsx
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-471] use createFullName
  src/renderer/components/rest/phone/contact-import-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-525 Wip tests
  src/renderer/models/external-providers/google/google.helpers.ts
  src/renderer/models/external-providers/google/google.interface.ts
  src/renderer/models/external-providers/google/google.test.ts
  src/renderer/models/external-providers/google/google.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Updated envs
  .env.example
  src/main/functions/download-help-handler.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

new version 0.9.7
  package.json
  src/renderer/locales/default/en-US.json
Due: prettier --write

Added https://github.com/okonet/lint-staged
  CONTRIBUTING.md
Due: prettier --write

Changed phone-port to device
  pure/src/device.test.ts
  pure/src/device.ts
  pure/src/device.types.ts
  pure/src/index.test.ts
  pure/src/index.ts
  pure/src/phone-port.test.ts
  pure/src/usb-detector.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/bootstrap.ts
  src/backend/device-service.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Made index.ts as the API served
  pure/src/device-manager.test.ts
  pure/src/device-manager.ts
  pure/src/device.ts
  pure/src/device.types.ts
  pure/src/endpoints/index.ts
  pure/src/index.ts
  src/backend/bootstrap.ts
  src/backend/device-service.ts
  src/main/main.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Made index.ts as the API served - 2
  pure/src/device.test.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added missing connection
  pure/src/device.test.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Refactored isPolling variable to portBlocked
  pure/src/device.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Type usb device
  pure/src/device-manager.ts
  pure/src/device.types.ts
  pure/src/usb-detector.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Refactor to @types/usb
  pure/package-lock.json
  pure/package.json
  pure/src/usb-detector.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added missing void
  src/backend/bootstrap.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Moved side effects from constructors
  pure/src/device-manager.ts
  pure/src/usb-detector.ts
  src/backend/bootstrap.ts
  src/backend/device-service.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unneeded promise
  pure/src/usb-detector.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update quickstart.md
  quickstart.md
Due: prettier --write

Small edits in Packaging
  quickstart.md
Due: prettier --write

Changed envs names
  .env.example
  src/main/functions/download-help-handler.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

updated env.example
  .env.example
Due: none

Further edits
  quickstart.md
Due: prettier --write

Updated translations
  src/renderer/locales/default/en-US.json
Due: prettier --write

[PDA-515] update app icon and name
  package.json
  src/main/main.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-525 Add tests, fix input mail
  src/__mocks__/google-contacts.ts
  src/renderer/models/external-providers/google/google.helpers.ts
  src/renderer/models/external-providers/google/google.test.ts
  src/renderer/models/external-providers/google/google.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-524] add tests
  src/renderer/components/rest/phone/contact-details.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-471] move messages
  src/renderer/components/rest/phone/contact-import-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Improved calculation function, reverted changes in table
  src/renderer/components/core/table/table.component.tsx
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-525 Remove redundant throw error
  src/renderer/models/external-providers/google/google.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-525 Remove if in phone numbers logic
  src/renderer/models/external-providers/google/google.helpers.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Further edits of README + screenshot added
  README.md
  mudita-center-screenshot.png
Due: prettier --write

Cleared a confuse async/await tokens
  pure/src/device-manager.ts
  pure/src/device.ts
  pure/src/usb-detector.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/device-service.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css
