Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:js -- --fix", "npm run lint:css"],
}

Further edits of README
  README.md
Due: prettier --write

Refs moved to main component
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Set prettier for pure lib
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
  pure/.eslintrc
  pure/.lintstagedrc
  pure/package-lock.json
  pure/package.json
  pure/src/parser.ts
  pure/src/usb-detector.ts
  pure/tsconfig.json
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Set prettier for pure lib - 2
  pure/package.json
Due: prettier --write

Wrote the README.md
  pure/README.md
Due: prettier --write

Basic fix for refs
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

revert beforecommit script to package.json
  .huskyrc
  package.json
Due: prettier --write

Speed dial modal fixes
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Init
  pure/src/device.ts
  pure/src/device.types.ts
  pure/src/parser.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

example env update
  .env.example
Due: none

Updated quickstart
  quickstart.md
Due: prettier --write

Revert "Init"
  pure/src/device.ts
  pure/src/device.types.ts
  pure/src/parser.ts
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/renderer/modules/overview/system-update.hook.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unneeded logs
  src/backend/adapters/pure-phone/pure-phone.adapter.ts
  src/backend/device-service.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Further edits of Quickstart
  quickstart.md
Due: prettier --write

Update lib to handle embedded breaking changes in device
  pure/src/device-manager.ts
  pure/src/device.ts
  pure/src/device.types.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Handle the case when pure is connected already
  src/renderer/wrappers/base-app.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

moved repeating pattern to beforeAll
  src/tests/contact-form.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

fixed test name and changed emai/text
  src/tests/contact-form.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-515] update translations
  src/renderer/locales/default/en-US.json
Due: prettier --write

Update test
  src/backend/adapters/phonebook/phonebook.adapter.ts
  src/backend/bootstrap.ts
  src/backend/device-service.ts
  src/backend/mock-device-service.ts
  src/backend/mock-pure-node-service.ts
  src/backend/requests/phonebook/get-contacts.test.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

make loadData require
  src/renderer/modules/phone/phone.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Changed dummyPromise to asyncNoop
  src/renderer/modules/phone/phone.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

removed phone in test initialState
  src/renderer/store/index.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

removed phone in test initialState - 2
  src/renderer/store/index.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

[PDA-439] display messages date
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/modules/messages/messages.component.tsx
  src/renderer/modules/messages/messages.container.tsx
  src/renderer/utils/is-today.ts
  src/seeds/messages.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fixed phone.stories.tsx
  package-lock.json
  pure/package-lock.json
  src/renderer/models/phone/phone.typings.ts
  src/renderer/modules/phone/phone.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fix error in lint
  package.json
Due: prettier --write

Handle the fixed EGD-4368 error
  pure/src/parser.ts
  src/backend/adapters/phonebook/phonebook.adapter.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-494 Working example of deleting. Stopped working because phone started to sending empty contacts after some tries
  src/backend/adapters/phonebook/phonebook.adapter.ts
  src/renderer/models/phone/phone.ts
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/requests/delete-contacts.request.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-544 Pure didnt need to in tsconfig
  tsconfig.json
Due: prettier --write

fixed function
  src/tests/contact-form.e2e.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Add disabled property for manage button
  src/renderer/components/rest/phone/contact-panel.component.tsx
  src/renderer/modules/phone/phone.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Removed unneeded log
  pure/src/parser.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Refactored updates overview (error) modals
  src/renderer/modules/overview/overview.modals.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-494 Improve response/names
  src/backend/adapters/phonebook/phonebook-adapter.class.ts
  src/backend/adapters/phonebook/phonebook-fake.adapter.ts
  src/backend/adapters/phonebook/phonebook.adapter.ts
  src/backend/requests/phonebook/delete-contacts.request.ts
  src/backend/requests/phonebook/delete-contacts.test.ts
  src/common/requests/ipc-request.enum.ts
  src/renderer/models/phone/phone.ts
  src/renderer/requests/delete-contact.request.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-494 Improve error handling / names of files
  src/backend/adapters/phonebook/phonebook-fake.adapter.ts
  src/backend/adapters/phonebook/phonebook.adapter.ts
  src/backend/bootstrap.ts
  src/backend/requests/phonebook/delete-contact.request.ts
  src/backend/requests/phonebook/delete-contact.test.ts
  src/backend/requests/phonebook/delete-contacts.test.ts
  src/renderer/models/phone/phone.ts
  src/renderer/requests/delete-contact.request.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-494 Add code to contact-panel can remove multiple contacts. Update reducer test
  src/renderer/components/rest/phone/contact-panel.component.tsx
  src/renderer/models/phone/phone.test.ts
  src/renderer/models/phone/phone.ts
  src/renderer/modules/phone/phone.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-494 Remove log, redundant var
  src/backend/adapters/phonebook/phonebook.adapter.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Made request in MockPureNodeService method more generic
  src/backend/mock-device-service.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

keept consistent braces in such a cases
  src/renderer/models/phone/phone.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css
