Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Fix ts errors in help seed
  src/seeds/help.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Fix ts error in init help items
  src/main/store/default-help-items.ts
  src/renderer/utils/contentful/normalize-help-data.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Improve interface in normalize data
  src/renderer/utils/contentful/normalize-help-data.ts
  src/renderer/utils/hooks/use-help-search/use-help-search.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Use locale from settings
  src/main/functions/download-help-handler.ts
  src/renderer/utils/contentful/normalize-help-data.ts
  src/renderer/utils/hooks/use-help-search/use-help-search.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fixed names
  src/renderer/components/rest/phone/speed-dial-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Restore seed / default items to previous state with no locale
  src/main/store/default-help-items.ts
  src/renderer/modules/help/help.component.tsx
  src/renderer/utils/contentful/normalize-help-data.ts
  src/renderer/utils/hooks/use-help-search/use-help-search.ts
  src/seeds/help.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Working tests
  src/main/functions/download-help-handler.ts
  src/main/store/default-help-items.ts
  src/renderer/utils/contentful/normalize-help-data.ts
  src/renderer/utils/hooks/use-help-search/use-help-search.test.ts
  src/renderer/utils/hooks/use-help-search/use-help-search.ts
  src/seeds/help.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Clean up redundant seed data
  src/renderer/utils/hooks/use-help-search/use-help-search.test.ts
  src/seeds/help.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Improve interface in normalize data
  src/renderer/utils/contentful/normalize-help-data.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Full var name
  src/renderer/wrappers/help-app.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-343 Upgrade webpack
  package-lock.json
  package.json
Due: prettier --write

PDA-343 Inital config for storybook 6 upgrade
  .storybook/addons.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: prettier --write

PDA-343 Fix broken story
  src/renderer/components/rest/overview/files-manager/files-manager.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-343 Fix storybook formating in menu
  src/renderer/components/core/text/text.stories.tsx
  src/renderer/components/rest/app-update/app-update.stories.tsx
  src/renderer/components/rest/header/header.stories.tsx
  src/renderer/components/rest/header/tabs.stories.tsx
  src/renderer/components/rest/help/answer-ui.stories.tsx
  src/renderer/components/rest/meditation/data-box.stories.tsx
  src/renderer/components/rest/menu/menu.stories.tsx
  src/renderer/components/rest/messages/message-bubble.stories.tsx
  src/renderer/components/rest/news/card/card.stories.tsx
  src/renderer/components/rest/news/cards/cards.stories.tsx
  src/renderer/components/rest/news/last-update/last-update.stories.tsx
  src/renderer/components/rest/news/product-card/product-card.stories.tsx
  src/renderer/components/rest/news/product-cards/product-cards.stories.tsx
  src/renderer/components/rest/news/update-button/update-button.stories.tsx
  src/renderer/components/rest/onboarding/onboarding.stories.tsx
  src/renderer/components/rest/overview/backup/backup.stories.tsx
  src/renderer/components/rest/overview/network/network.stories.tsx
  src/renderer/components/rest/overview/phone/phone.stories.tsx
  src/renderer/components/rest/overview/system/system.stories.tsx
  src/renderer/modules/filesManager/components/files-summary-item.stories.tsx
  src/renderer/modules/filesManager/components/files-summary.stories.tsx
  src/renderer/modules/help/help.stories.tsx
  src/renderer/modules/phone/tabs/calls.stories.tsx
  src/renderer/modules/settings/settings.stories.tsx
  src/renderer/modules/settings/tabs/audio-conversion/audio-conversion.stories.tsx
  src/renderer/modules/settings/tabs/backup/backup.stories.tsx
  src/renderer/modules/settings/tabs/notifications/notifications.stories.tsx
  src/renderer/styles/theming/theme.stories.tsx
  src/renderer/svg/svg.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-343 Update rest of the packages excluding ones that broke app. Update snap
  package-lock.json
  package.json
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
  src/renderer/modules/settings/__snapshots__/settings.test.tsx.snap
  src/renderer/modules/settings/tabs/backup/__snapshots__/backup-ui.test.tsx.snap
  src/renderer/modules/settings/tabs/notifications/__snapshots__/notifications.test.tsx.snap
Due: prettier --write

PDA-350 Replace invoke with callMain and handle with answerRenderer
  src/main/functions/download-help-handler.ts
  src/main/functions/get-help-store-handler.ts
  src/main/functions/set-help-store-handler.ts
  src/renderer/utils/hooks/use-help-search/use-help-search.ts
  src/renderer/wrappers/root-wrapper.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-343 Restore story to old format. Add decorator to fix story
  src/renderer/components/rest/overview/files-manager/files-manager.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-350 Fix to webpack which wasnt adding envs to prod app
  webpack.config.main.js
  webpack/parts/plugins.js
Due: prettier --write

PDA-350 Remove handle/invoke from mocked electron-better-ipc
  src/__mocks__/electron-better-ipc.js
Due: prettier --write

PDA-343 Update electron/serial port
  package-lock.json
  package.json
Due: prettier --write

PDA-234 Update search icon
  src/renderer/components/core/input-text/input-text.elements.tsx
  src/renderer/svg/magnifier.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Start changing icons in menu
  src/renderer/components/core/button/button.component.tsx
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/svg/menu-overview.svg
  src/renderer/svg/menu_overview.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Updating speed dial number
  src/renderer/components/rest/phone/contact-edit.component.tsx
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.container.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update icons in your pure menu section
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/svg/menu-calendar.svg
  src/renderer/svg/menu-contacts.svg
  src/renderer/svg/menu-files-manager.svg
  src/renderer/svg/menu-meditation.svg
  src/renderer/svg/menu-messages.svg
  src/renderer/svg/menu-music.svg
  src/renderer/svg/menu-phone.svg
  src/renderer/svg/menu-tools.svg
  src/renderer/svg/menu_calendar.svg
  src/renderer/svg/menu_filesManager.svg
  src/renderer/svg/menu_meditation.svg
  src/renderer/svg/menu_messages.svg
  src/renderer/svg/menu_music.svg
  src/renderer/svg/menu_phone.svg
  src/renderer/svg/menu_tools.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Rest of the menu icons + two from header in your pure
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/svg/menu-help.svg
  src/renderer/svg/menu-news.svg
  src/renderer/svg/menu-settings.svg
  src/renderer/svg/menu-tethering.svg
  src/renderer/svg/menu_help.svg
  src/renderer/svg/menu_news.svg
  src/renderer/svg/menu_settings.svg
  src/renderer/svg/menu_tethering.svg
  src/renderer/svg/sim.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-343 Import file was in gitignore and i didn't realize that it wasn't added in PR. Not sure what was reasoning behind excluding these kind of file
  .gitignore
  .storybook/main.js
Due: prettier --write

PDA-234 Update battery icons
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/svg/high-battery.svg
  src/renderer/svg/low-battery.svg
  src/renderer/svg/medium-battery.svg
  src/renderer/svg/no-battery.svg
  src/renderer/svg/very-high-battery.svg
  src/renderer/svg/very-low-battery.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update range icons
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/core/icon/icon.stories.tsx
  src/renderer/components/core/icon/range-icon.component.tsx
  src/renderer/svg/high-range.svg
  src/renderer/svg/low-range.svg
  src/renderer/svg/medium-range.svg
  src/renderer/svg/no-range.svg
  src/renderer/svg/very-high-range.svg
  src/renderer/svg/very-low-range.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update snap + range icon test
  src/renderer/components/core/icon/range-icon.test.tsx
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Add tethering status icon
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/constants/menu-elements.ts
  src/renderer/svg/tethering-status.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Fix icons in overview sizes. Update snap
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
  src/renderer/components/rest/overview/phone/phone.component.tsx
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
  src/renderer/modules/settings/__snapshots__/settings.test.tsx.snap
  src/renderer/modules/settings/tabs/backup/__snapshots__/backup-ui.test.tsx.snap
  src/renderer/modules/settings/tabs/notifications/__snapshots__/notifications.test.tsx.snap
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Fix icons size. Old icons will remain big until we replace them in next prs
  src/renderer/components/rest/header/__snapshots__/header.test.tsx.snap
  src/renderer/components/rest/header/__snapshots__/tab.test.tsx.snap
  src/renderer/components/rest/header/tab.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update textarea icons
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/svg/attach-contact.svg
  src/renderer/svg/send.svg
  src/renderer/svg/template.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update top nav tab icons
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/header/__snapshots__/header.test.tsx.snap
  src/renderer/components/rest/header/__snapshots__/tab.test.tsx.snap
  src/renderer/components/rest/header/tab.component.tsx
  src/renderer/constants/tab-elements.ts
  src/renderer/svg/backup-folder.svg
  src/renderer/svg/connection.svg
  src/renderer/svg/dial.svg
  src/renderer/svg/notes.svg
  src/renderer/svg/notifications.svg
  src/renderer/svg/phone.svg
  src/renderer/svg/playlist.svg
  src/renderer/svg/send.svg
  src/renderer/svg/templates.svg
  src/renderer/svg/voice-recorder.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Decide to use h/w 2.8/2.8 in buttons since its most common. Apply different h/w to buttons in overview
  src/renderer/components/core/button/button.component.tsx
  src/renderer/components/core/button/button.styled.elements.tsx
  src/renderer/components/rest/calls/call-details.component.tsx
  src/renderer/components/rest/calls/calls-table.styled.tsx
  src/renderer/components/rest/overview/backup/backup.component.tsx
  src/renderer/components/rest/overview/card.elements.tsx
  src/renderer/components/rest/overview/files-manager/files-manager.component.tsx
  src/renderer/components/rest/overview/phone/phone.component.tsx
  src/renderer/components/rest/overview/system/system.component.tsx
  src/renderer/svg/delete.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update icons in details
  src/renderer/components/core/button/button.styled.elements.tsx
  src/renderer/components/core/table/table.component.tsx
  src/renderer/components/rest/calls/call-details.component.tsx
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/svg/contacts.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Add status call icons
  src/__mocks__/calls-mock-data.ts
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/components/rest/calls/call-details.helpers.tsx
  src/renderer/components/rest/calls/call-row.component.tsx
  src/renderer/components/rest/calls/calls-table.styled.tsx
  src/renderer/svg/conference-call.svg
  src/renderer/svg/incoming-call.svg
  src/renderer/svg/missed-call.svg
  src/renderer/svg/outgoing-call.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-234 Update snap
  src/renderer/components/core/button/tests/__snapshots__/button.test.tsx.snap
  src/renderer/components/core/dropdown/__snapshots__/dropdown.test.tsx.snap
  src/renderer/components/rest/overview/network/__snapshots__/network.test.tsx.snap
  src/renderer/components/rest/overview/system/__snapshots__/system.test.tsx.snap
Due: none

PDA-234 Update icons in button story
  src/renderer/components/core/button/button.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

init
  .env.example
  src/common/enums/google-auth-actions.enum.ts
  src/main/config.ts
  src/main/main.ts
  src/renderer/modules/phone/phone.container.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Path conditions:
  prettier --write: any of: *.{js,json,css,md,ts,tsx}
  npm run lint:js -- --fix: any of: *.{ts,tsx}
  npm run lint:css: any of: *.{ts,tsx}
