Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:tslint -- --fix && npm run lint:css"],
}

PDA-269 Bump max calls missed
  src/renderer/components/core/table/table.fake-data.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-269 Extract render to seperate function
  src/renderer/components/rest/calls/calls-table.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Package.json reformatted; old/broken commands removed
  package-lock.json
  package.json
Due: prettier --write

Prettier ignore added; more space in package scripts
  .prettierignore
  package.json
Due: prettier --write

Changed commands to work properly
  package.json
Due: prettier --write

Updated GH actions
  .github/workflows/validate.yml
Due: none

Updated GH actions – fixed
  .github/workflows/validate.yml
Due: none

PDA-263 Add intl
  src/renderer/constants/menu-elements.ts
  src/renderer/constants/views.ts
  src/renderer/locales/main/en-US.json
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-263 Remove unnecessary template literals
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
  src/renderer/constants/tab-elements.ts
  src/renderer/routes/base-routes.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-263 Margins update
  src/renderer/components/rest/menu/menu-group.component.tsx
  src/renderer/components/rest/menu/menu.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-263 Add menu contacts icon
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/constants/menu-elements.ts
  src/renderer/svg/menu-contacts.svg
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-263 Update snap
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
Due: none

PDA-263 useContentSize for correct height of window with bar. Additional style
  src/main/main.ts
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
  src/renderer/components/rest/menu/menu-group.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-269 Update format duratio and its tests
  src/renderer/utils/format-duration.test.ts
  src/renderer/utils/format-duration.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-269 Change format duration param
  src/renderer/components/rest/calls/calls-table.component.tsx
  src/renderer/utils/format-duration.test.ts
  src/renderer/utils/format-duration.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Revert "PDA-269 Change format duration param"
  src/renderer/components/rest/calls/calls-table.component.tsx
  src/renderer/utils/format-duration.test.ts
  src/renderer/utils/format-duration.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Revert "PDA-269 Update format duratio and its tests"
  src/renderer/utils/format-duration.test.ts
  src/renderer/utils/format-duration.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-269 Remove param
  src/renderer/components/rest/calls/calls-table.component.tsx
  src/renderer/utils/format-duration.test.ts
  src/renderer/utils/format-duration.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

WIP spectron
  package-lock.json
  package.json
  src/main/main.ts
  src/tests/hooks.js
  src/tests/spec.js
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Hotfix: precommit fixed
  .lintstagedrc
Due: none

PDA-257 Extract TextPlaceholder
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/components/rest/messages/templates/templates-list.component.tsx
  src/renderer/components/rest/phone/contact-list.component.tsx
  src/renderer/components/rest/phone/text-placeholder.styled.elements.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Proper commands for webpack
  package.json
  webpack.renderer.dev.config.js
Due: prettier --write

PDA-257 Properly place TextPlaceholder in table.component
  src/renderer/components/core/table/table.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/components/rest/messages/templates/templates-list.component.tsx
  src/renderer/components/rest/phone/contact-list.component.tsx
  src/renderer/components/rest/phone/text-placeholder.styled.elements.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Colors
  src/renderer/styles/theming/theme.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Add author type
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/models/messages/messages.interface.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Update tests and storybook
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/components/rest/messages/message-details.test.tsx
  src/renderer/models/messages/utils/topics-utils.test.ts
  src/renderer/models/messages/utils/topics-utils.ts
  src/renderer/modules/messages/messages.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Bubble receives single message
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/message-bubble.component.tsx
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/models/messages/messages.interface.ts
  src/renderer/modules/messages/messages.stories.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Make bubble display single message. Adapt styles. Update bubble test
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/message-bubble.component.tsx
  src/renderer/components/rest/messages/message-bubble.test.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Adapt css in bubble for each author
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
  src/renderer/components/rest/messages/message-bubble.component.tsx
  src/renderer/components/rest/messages/message-bubble.stories.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Update search func
  src/renderer/models/messages/utils/topics-utils.test.ts
  src/renderer/models/messages/utils/topics-utils.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 WIP generate message
  src/renderer/components/core/table/table.fake-data.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-269 Add missing prop to checkbox
  src/renderer/components/rest/calls/calls-table.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

Updated snapshots
  src/renderer/modules/filesManager/components/__snapshots__/files-summary-item.test.tsx.snap
  src/renderer/modules/filesManager/components/__snapshots__/files-summary.test.tsx.snap
  src/renderer/modules/settings/tabs/backup/__snapshots__/backup-ui.test.tsx.snap
Due: none

PDA-265 Correct logic for bubbles with styles
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/message-bubble.component.tsx
  src/renderer/components/rest/messages/message-details.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Update components/data to work without secondaryPhoneNumber key
  src/renderer/components/core/table/table.fake-data.tsx
  src/renderer/components/rest/messages/message-bubble.stories.tsx
  src/renderer/components/rest/messages/message-bubble.test.tsx
  src/renderer/components/rest/messages/message-details.component.tsx
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/models/messages/messages.interface.ts
  src/renderer/models/messages/utils/topics-utils.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Remove reduntant expect
  src/renderer/components/rest/messages/message-bubble.test.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Remove secondaryPhoneNumber from mocks
  src/renderer/components/rest/messages/__mocks__/caller-data.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-265 Remove redundant interface
  src/renderer/models/messages/messages.interface.ts
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css

PDA-263 Smaller margin confirmed by Patryk. This should work on macbooks
  src/renderer/components/rest/menu/__snapshots__/menu.test.tsx.snap
  src/renderer/components/rest/menu/menu-group.component.tsx
Due: prettier --write, npm run lint:tslint -- --fix && npm run lint:css
