Repository mudita/mudita-center: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:js -- --fix, npm run lint:css

.lintstagedrc:

{
    "*.{js,json,css,md,ts,tsx}": ["prettier --write"],
    "*.{ts,tsx}": ["npm run lint:js -- --fix", "npm run lint:css"],
}

PDA-351 Use ref hook for timeout
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Update src/renderer/modules/calendar/calendar.component.tsx
  src/renderer/modules/calendar/calendar.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-351 Use ref hook for timeout in input-file
  src/renderer/components/core/input-file/input-file.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-351 Update en-US.json
  src/renderer/locales/default/en-US.json
Due: prettier --write

contact handling on promises
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.container.tsx
  src/renderer/providers/google/auth.ts
  src/renderer/providers/google/people.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Updated translations
  src/renderer/locales/default/en-US.json
Due: prettier --write

PDA-404 Render button based on visiblityFilter in selection manager
  src/renderer/components/core/selection-manager/selection-manager.interface.tsx
  src/renderer/models/messages/messages.interface.ts
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages.component.tsx
  src/renderer/modules/messages/messages.container.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added email validation for contact support modal and fixed missing translations
  src/renderer/components/rest/contact-modal/contact-modal-success.component.tsx
  src/renderer/components/rest/contact-modal/contact-modal.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/onboarding/troubleshooting.component.tsx
  src/renderer/styles/theming/theme.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

proper error handling
  src/renderer/modules/phone/phone.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

cleanup
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.container.tsx
  src/renderer/providers/google/auth.ts
  src/renderer/providers/google/helpers.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

description for merge, storybook fix
  src/renderer/modules/phone/phone.component.tsx
  src/renderer/modules/phone/phone.stories.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added attachments to useForm
  src/renderer/components/rest/contact-modal/contact-modal.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Fixed & updated tests and fixed storybook
  src/renderer/components/core/input-file/input-file.test.tsx
  src/renderer/components/rest/contact-modal/contact-modal.stories.tsx
  src/renderer/components/rest/contact-modal/contact-modal.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Improved translations flow
  package-lock.json
  package.json
  scripts/updateDefaultTranslations.js
  scripts/updatePhraseTranslations.js
  src/main/functions/update-translations.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Updated translation
  src/renderer/locales/default/en-US.json
Due: prettier --write

Removed unnecessary code
  scripts/updateDefaultTranslations.js
Due: prettier --write

Improved logging
  scripts/updateDefaultTranslations.js
  scripts/updatePhraseTranslations.js
Due: prettier --write

removed unnecessary else
  scripts/updateDefaultTranslations.js
Due: prettier --write

Translations update
  src/renderer/locales/default/en-US.json
Due: prettier --write

PDA-404 WIP unread
  src/__mocks__/mocked-unread-messages.ts
  src/renderer/models/messages/messages.interface.ts
  src/renderer/models/messages/messages.test.ts
  src/renderer/models/messages/messages.ts
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages.component.tsx
  src/renderer/modules/messages/messages.container.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Improved test coverage and removed unnecessary utils
  src/renderer/utils/noop.test.ts
  src/renderer/utils/serialport.ts
  src/renderer/utils/stringToHash.ts
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

tethering button links to settings
  src/renderer/modules/tethering/screens/disabled.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

textformatters unique keys added
  src/renderer/utils/intl.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

tests added
  src/renderer/modules/tethering/screens/disabled.component.tsx
  src/renderer/modules/tethering/screens/enabled.component.tsx
  src/renderer/modules/tethering/screens/tethering.enum.ts
  src/renderer/modules/tethering/tethering.component.tsx
  src/renderer/modules/tethering/tetheting.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Update en-US.json
  src/renderer/locales/default/en-US.json
Due: prettier --write

PDA-404 Correctl flow for marking msg/mgs as read
  src/renderer/models/messages/messages.ts
  src/renderer/modules/messages/messages-panel.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Added sorting for translations
  package.json
  scripts/sortTranslations.js
  scripts/updateDefaultTranslations.js
  scripts/updatePhraseTranslations.js
Due: prettier --write

Removed dotenv from updateDefaultTranslations
  scripts/updateDefaultTranslations.js
Due: prettier --write

example envs update
  .env.example
Due: none

modal added
  src/renderer/components/rest/calls/call-row.component.tsx
  src/renderer/components/rest/calls/calls-table.component.tsx
  src/renderer/locales/main/en-US.json
  src/renderer/modules/phone/tabs/calls.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

"name" for unknown contact added
  src/renderer/modules/phone/tabs/calls.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Additional tests for messages-panel
  src/renderer/modules/messages/messages-panel-test-ids.enum.ts
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages-panel.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

added tests to bump coverage
  src/renderer/components/core/modal/delete-modal.component.tsx
  src/renderer/components/core/modal/delete-modal.enum.ts
  src/renderer/components/core/modal/delete-modal.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Improve intl
  src/renderer/components/rest/messages/messages-list.component.tsx
  src/renderer/locales/default/en-US.json
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Add mark as read icon
  src/renderer/components/core/icon/icon.config.ts
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/svg/mark-as-read.svg
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

tests
  src/renderer/components/core/modal/modal-test-ids.enum.ts
  src/renderer/components/core/modal/modal.component.tsx
  src/renderer/components/core/modal/modal.test.tsx
  src/renderer/components/rest/settings/settings-toggler.component.tsx
  src/renderer/components/rest/settings/settings-toggler.test.tsx
  src/renderer/components/rest/settings/settings-ui.component.tsx
  src/renderer/modules/settings/__snapshots__/settings.test.tsx.snap
  src/renderer/modules/settings/settings.enum.ts
  src/renderer/modules/settings/settings.test.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

PDA-404 Remove redundant selectedItemsCount prop
  src/renderer/modules/messages/messages-panel.component.tsx
  src/renderer/modules/messages/messages-panel.test.tsx
  src/renderer/modules/messages/messages.component.tsx
Due: prettier --write, npm run lint:js -- --fix, npm run lint:css

Change people responsible for reviews
  .github/auto_assign.yml
Due: none

Commands updated
  README.md
Due: prettier --write

Fixed spelling
  README.md
Due: prettier --write
